body{
    background-color: beige;
}

h1{
    color: red;
}

.index_heading{
    font-family: Montserrat, sans-serif;
}

h2{
    color: gray
}

p{
    color: black
}

nav
{
    background-color: lightblue;
}

.navigation{
    text-align: center;
}

ul{
    display:inline-block;
}