body{
    background-color: #EDDDD0;
}

h1, h2, p{
    color: #334259;
}

header, footer{
    background-color: #A6CAD4;
}

ul{
    display:inline-block;
}

.navigation{
    text-align: center;
}

#main_title{
    font-family: Montserrat, sans-serif;
}
